li.CharacterList {
    list-style-type: none;
    margin-top:15px;
    margin-bottom:20px;
    margin-left: 15px;
    display:inline-block;
  }

  
.CharacterListRow {
    margin-right:auto;
    margin-left:auto;
    width:180px;
    border: 1px solid;
    border-color:rgba(0, 0 , 0,0.3);
    background-color:rgba(0, 0 , 0,0.4);
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .CharacterListRow:hover {
    box-shadow:
    0 0 15px #f1d65e93,         
    -4px 0 20px #f1d65e93,        
    4px 0 20px #f1d65e93; 
  }

  
  .CharacterListName {
    font-size: 23px;
    color: orange;
    font-weight:bold;
    padding-bottom:5px;
  }
  .CharacterListImagesHolder {
    padding-top: 5px;
    display:inline;
  }
  
  img.CharacterRaceImage,.CharacterClassImage {
    width:30px;
    height:30px;
  }
  .CharacterRaceImageHolder {
    display:inline;
  }
  .CharacterClassImageHolder {
    display:inline;
  }
  
  .CharacterListLevelRaceClass {
    font-size: 13px;
    color:white;
    text-shadow: 2px 2px 1px #000000;
    
  }

  .highlightcharacter {
    outline: none;
    border-color:rgb(251, 255, 0);
    box-shadow:
    0 0 20px #fed20d,         
    -8px 0 20px #fed20d,        
    8px 0 20px #fed20d;         
    background-color: rgba(255, 153, 0, 0.24);
  }