#CharacterListPanel {
    display:inline-block;  
    width: 100%;
    height:100vh;
    background-image: url("../../resources/images/backgrounds/darkportal.jpg");
    background-size: cover;
    margin-left:auto;
    margin-right:auto;
  }
  
  ul#CharacterList {
    max-height:600px;
    overflow:auto;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  div#CharacterListUlHolder {
    width:1100px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
  }
  
  
  
  div#CharacterListBtnsPanel {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  div.CharacterListBtnPanel {
    margin-top: 20px;
  }
  
  .CharacterListBtn {
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    justify-content:center;
    display:flex;
    text-decoration: none;
  }