

/*Fonts*/
@font-face {
  font-family: FrizQuadrata;
  src: url(./resources/fonts/FrizQuadrataStdMedium.otf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Shared General*/
body {
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height:100vh;

  /* Disable text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  /* Disable dragging */

}
button {
  font-family: FrizQuadrata;
  width:200px;
  height:40px;
  background-color: rgb(148, 5, 5);
  color: orange;
  border-radius: 5px;
  border: 1px solid grey;
}


div.AppContentRightSide{
  float:left;
  padding-left:64px;
  width:100%;

}


